.search-form div input[type="search"]{
    height: 40px;
    width: 40%;
    border-radius: 7px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px 2px rgb(20, 20, 20, 0.1);
    padding-left: 10px;
    font-size: 18px;
    
}
.search-form div{
    width: 100%;
}

.search-form div button{
    font-size: 18px;
    
}

@media (max-width: 770px){
    .search-form div input[type="search"]{
        width: 70%;
        
    }
}