<div
  class="d-flex flex-column justify-content-between position-relative book "
  (click)="bookClick()"
>
<div class="d-flex align-items-baseline img-continaer">
    <img [src]="book.image" alt="book-img" class="m-auto" />
</div>
  <div class="text-container">
    <h6 class="mb-2">{{ book.title }}</h6>
    @if(!showButtons){
    <p>{{ book.author }}</p>
    }
  </div>
  @if(showButtons){
  <div id="btns-container" class="d-flex justify-content-between z-3">
    <button class="btn" (click)="editBook(book)" style="color: white;">Edit</button>
    <button class="btn" (click)="deleteBook(book)" style="color: rgb(255, 130, 130);">Delete</button>
  </div>
  }
</div>
